<h1>Welcome To Pacman</h1>

<div class="canvas">
<canvas id="canvas" width={{level.pixelWidth}} height={{level.pixelHeight}}></canvas>
</div>

<div class="scoreBoard">Score: {{score}}, Level: {{levelNumber}}</div>
